body{margin:0;height:100%;overflow: hidden;}
#canvas{
    position:absolute;
    top:0;
    left:0;
    z-index: 0;
    background: url("./asset/background.jpg") no-repeat;
    background-size: cover;
}
.letters{
    position: absolute;
}

.letter {
    position: absolute;
    width: 25vw;
    z-index: 1;
    top: 20vh;
    left: 38vw;

}
.lt1{
    top: 25vh;
    rotate: -30deg;
}

.lt2{
}

.lt3{
    rotate: 20deg;
    top: 20vh;
    left: 35vw;   
}

.lt4{
    filter: contrast(1);
}

.lt5{
    rotate: 20deg;
    left: 38vw;
}

@media (max-width: 750px) {
    .letter {
        position: absolute;
        width: 55vw;
        z-index: 1;
        top: 30vh;
        left: 25vw;
    }
    #canvas{
        position:absolute;
        top:0;
        left:0;
        z-index: 0;
        background: url("./asset/background4.jpg") no-repeat;
        background-size: cover;

    }

}


